* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #fac472;
    color: #333;
}

.bigFreakingTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border: #333 solid 5px;
    display: inline-block;
    width: 70%;
    margin: 0px;
}

.titleImage {
    display: inline-block;
    width: 25%;
    padding: 15px;
    margin: 0px;
    vertical-align: top;
}

.helloDownThere {
    display: inline-block;
    margin: 75px;
    width: 40%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: #333 solid 5px;
}

.buttonGif {
    display: inline-block;
    width: 50%;
    padding: 15px;
    margin: 10px;
    vertical-align: top;
}

.rather {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.soBigMonologue {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    height: 50%;
    margin: 0px;
}

.organDonorForm {
    text-align: center;
    font-size: 16px;
    border: #333 solid 5px;
    display: inline-block;
    width: 25%;
    height: 100%;
    margin: 70px;
}

.organDonorGif {
    display: inline-block;
    width: 50%;
    padding: 15px;
    margin: 10px;
    vertical-align: top;
}

.survey {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 0px;
}

.footerText {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 0px;
}